body{
    main{
        .movies{
            h2{
                color: rgb(123, 116, 116);
                font-family: "Work Sans", sans-serif;
            }
            margin-top: 40px;
            .movie-wrapper{
                display: flex;
                max-height: 500px;
                overflow-x: auto;
                scroll-behavior: smooth;
                &::-webkit-scrollbar{
                    width: 0;
                }
                .card{
                    padding: 0;
                    min-width: 200px;
                    margin-right: 10px;
                    height: 400px;
                    text-align: center;
                    background-color: pink;
                    transition: all .3s ease-in-out;
                    font-family: "Work Sans", sans-serif;
                    img{
                        max-width: 200px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}